@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: sans-serif;
   color: #121213;
} 
.contact-l{
   overflow:hidden;
}
.contact-l li{
   display:inline-block;
   margin: 10px
}

.avatar{
   border-radius: 50%;
   border: 2px solid #c2c1c1be;
  
}


/* //TODO put this in document */
/* body {
   background-color: black;
} */

.content-name{
   font-size: 20px;
   word-spacing: 5px;
   letter-spacing:3.3px;
   line-height: 30px;
   -webkit-user-select: none; /* Safari */        
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   user-select: none; /* Standard */
}